/* @import './base.css'; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
* {
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --body-font: 'Roboto', sans-serif;
  --theme-bg: #d1e5f4;
  --theme-bg-primary: #9abddc;
  --theme-bg-secondary: #f5fbff;
  --theme-dark: #050a30;
  --theme-opal: #e9674d;

  --body-color: #000;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
}

body {
  font-family: var(--body-font);
  background-color: var(--theme-bg-secondary);
}

.container {
  /* background-color: var(--theme-bg); */
  display: flex;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
